@use 'variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content
    }
};

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content
    }
};
@mixin tablet2 {
    @media (min-width: v.$tablet2) {
        @content
    }
};

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content
    }
};
@mixin desktop2 {
    @media (min-width: v.$desktop2) {
        @content
    }
};

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas,1fr);
    gap: $espaciado;
}