@use 'base/variables' as v;

.text-center {
    text-align: center;
}
.bg-primario {
    background-color: v.$primario;
}
.bg-white {
    background-color: v.$blanco;
}
.mg-top--10 {
    margin-top: -10rem;
}
.pb-0 {
    padding-bottom: 0;
}